{% load static %}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">

    <title>{% block title %}Xadrez{% endblock %}</title>

    <link rel="stylesheet" href="{% static 'games/style.css' %}">
</head>

<body>

    <nav>
    <a href="{% url 'home' %}">Início</a>
    <a href="{% url 'games_list' %}">Partidas</a>
    <a href="{% url 'game_create' %}">Nova Partida</a>

    {% if user.is_authenticated %}
        <span>Olá, {{ user.username }}</span>

        <form method="POST" action="{% url 'logout' %}" style="display: inline;">
            {% csrf_token %}
            <button type="submit">Sair</button>
        </form>
    {% else %}
        <a href="{% url 'login' %}">Entrar</a>
    {% endif %}
    </nav>

    <hr>

    {% block content %}
    {% endblock %}

</body>
</html>