{% extends 'games/base.html' %}
{% load static %}

{% block title %}
{{ game.title }}
{% endblock %}

{% block content %}

<h1>
    {% if game.title %}
        {{ game.title }}
    {% else %}
        Partida {{ game.id }}
    {% endif %}
</h1>

<div class="card">
    <p><strong>Brancas:</strong> {{ game.white_player }}</p>
    <p><strong>Pretas:</strong> {{ game.black_player }}</p>
    <p><strong>Criada em:</strong> {{ game.created_at }}</p>
</div>

<main class="game-layout">
    <section class="board-area">



        <div class="board-wrapper">
            <div class="rank-labels">
                <span>8</span>
                <span>7</span>
                <span>6</span>
                <span>5</span>
                <span>4</span>
                <span>3</span>
                <span>2</span>
                <span>1</span>
            </div>

            <div>
                <div id="board" class="board"></div>

                <div class="file-labels">
                    <span>a</span>
                    <span>b</span>
                    <span>c</span>
                    <span>d</span>
                    <span>e</span>
                    <span>f</span>
                    <span>g</span>
                    <span>h</span>
                </div>
            </div>
        </div>
    </section>

    <aside class="pgn-panel">
        <h2>PGN</h2>
        <p id="turn-indicator">Vez das brancas</p>
        <p id="game-status" class="game-status" hidden></p>

        <div class="history-controls">
            <button id="prev-move">Anterior</button>
            <button id="next-move">Siguiente</button>
            <button id="last-move">Última posición</button>
        </div>

        <ul id="move-list" style="display: none;"></ul>
        <pre id="pgn-box" class="pgn-box"></pre>
    </aside>
</main>

<a href="{% url 'games_list' %}">Voltar para partidas</a>

{{ moves|json_script:"saved-moves-data" }}

<script>
    const GAME_ID = "{{ game.id }}";
    const SAVED_MOVES = JSON.parse(document.getElementById('saved-moves-data').textContent);
</script>

<script src="{% static 'games/board.js' %}?v=10"></script>

{% endblock %}
